<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안뇽인덕</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="../static/CSS/stylesheet.css" rel="stylesheet">
    <link href="../static/CSS/stylesheet_main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
</head>
<body>
    <div id="comp_main">
        <div id="comp_banner">
            <div class="banner_img slide">
                <img class="fade slide_item" src="../static/img/banner/banner_0.png">
                <img class="fade slide_item" src="../static/img/banner/banner_1.png">
                <img class="fade slide_item" src="../static/img/banner/banner_2.png">
            </div>
        </div>
        <div class="best_section">
            <p class="section_title">오늘의 Best</p>
            <div class="item_container"></div>
            <div class="slider_container">
                <img class="slider_prev" src="../static/img/icon/icon_prev.svg">
                <img class="slider_next" src="../static/img/icon/icon_next.svg">
            </div>
        </div>
    </div>
</body>
</html>