<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>안뇽인덕</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="../static/CSS/nav.css" rel="stylesheet">
    <link href="../static/CSS/stylesheet.css" rel="stylesheet">
    <link href="../static/CSS/stylesheet_signup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/signup.js"></script>
    <script src="../static/js/base.js"></script>
</head>
<nav src="./main.html">
    <div id="comp_header">
        <div id="component_top-list">
            <ul>
                <li><a class="size_14"href="./signin">로그인</a></li>
                <li><a class="size_14"href="./signup">회원가입</a></li>
                <li><a class="size_14 color_B5B5B5"href="error">주문배송</a></li>
                <li><a class="size_14 color_B5B5B5"href="wishlist">장바구니</a></li>
            </ul>
        </div>
        <div id="component_navigator">
            <ul>
                <img id="LOGO" onclick="location.href='/'" src="../static/img/icon/안뇽인덕.png"/>
                <li><a style="font-weight: 700;" href="./main.html">추천상품</a></li>
                <li><a style="font-weight: 700;" href="./main.html">신상품</a></li>
                <li><a href="./category_item?category=A">인형</a></li>
                <li><a href="./category_item?category=B">돕바/과잠</a></li>
                <li><a href="./category_item?category=C">포스터</a></li>
                <li><a href="./category_item?category=D">텀블러/컵/문구류</a></li>
                <li><a href="./category_item?category=E">모자</a></li>
            </ul>
        </div>
        </div>
</nav>
<body>
    <div class="signup">
        <p style="text-align: center;" class="section_title weight_700 size_28">회원가입</p>
        <p class="size_20">필수정보 입력</p>
        <form method="post">
            <div class="input_id">
                <span>아이디</span>
                <input type="text" placeholder="아이디를 입력하세요." class="user_id"name="user_id">
                <button type="button" onclick=pressded_check_id()>중복확인</button>
                <span class="alert hide">이미 존재하는 아이디입니다.</span>
                <span class="valid_span hide">사용 가능한 아이디입니다.</span>
            </div>
            <div class="input_name">
                <span>닉네임</span>
                <input type="text" placeholder="닉네임을 입력하세요." class="user_name"name="user_name">
                <button type="button" onclick=pressded_check_id()>중복확인</button>
                <span class="alert hide">이미 존재하는 닉네임입니다.</span>
                <span class="valid_span hide">사용 가능한 닉네임입니다.</span>
            </div>
            <div class="input_pw">
                <span>비밀번호</span>
                <input type="password" placeholder="비밀번호를 입력하세요." class="user_pw"name="user_pw">
                <input type="password" placeholder="비밀번호를 다시 입력하세요." class="user_pw"name="user_pw">
                <span class="alert hide">비밀번호가 일치하지 않습니다.</span>
            </div>
            <button class="submit" type="submit">회원가입</button>
        </form>
    </div>
</body>
</html>